* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body, html {
	/* center on page */
	height: 100%;
	display: grid;

	background-color: #d3c088;
	background: linear-gradient(135deg, #d3c088, #b69775);
}

/*  */

#calculator {
	/* center on page */
	margin: auto;

	/* dimensions */
	width: 260px;
	height: 360px;

	/* graphical presentation */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.712);

	/* layout */
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"screen screen"
		"digits operators";
	--gridGap: 5px;
	grid-gap: var(--gridGap);
}

#screen {
	grid-area: screen;
	
	font-family: 'Courier New', Courier, monospace;
	font-size: 38px;
	text-align: right;
	height: 41px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

button {
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	outline: none;
	border-radius: 10px;
	transition: all .2s ease;
	border-style: none;
}

.button-hit {
	filter: brightness(85%);
	font-size: 25px;
	-moz-box-shadow:    inset 3px 3px 8px #000000b7;
	-webkit-box-shadow: inset 3px 3px 8px #000000b7;
	box-shadow:         inset 3px 3px 8px #000000b7;
}

#buttons-digits {
	grid-area: digits;
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

#buttons-other {
	grid-area: operators;
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-rows: repeat(6, 1fr);
}


/* COLORS */

#calculator {
	background-color: #315659;
}
#screen {
	/* background-color: #253031; */
	background: linear-gradient(135deg, #2f3e3f 30%, #253031 40%);
	color: white;
	font-size: 30px;
}
#buttons-digits button {
	background-color: #49adb4;
	color: white;
}
#buttons-other button {
	background-color: #99dddd;
}
button#\= {
	background-color: #99dddd;
	color: black;
}
button#C, button#c {
	background-color: #688f92;
	color: white;
}
button[listenerbuttonclick=false] {
	color:red!important;
	border:1px solid red;
}
